.container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	min-height: 26vh;
	flex-direction: column;
	gap: 4.5em;
	padding-top: 5em;
}
button {
	padding: 1em;
	border-color: transparent;
	background-color: blueviolet;
	cursor: pointer;
	color: white;
	border-radius: 4px;
}
